@media (max-width: 1260px){
    header{
        padding: 0.8rem 2.2rem;
    }
    .desktop-nav .call-login p{
        display: none;
    }
    .home h1{
        font-size: 3rem;
        line-height: 3rem;
        padding-right: 0;
    }
    .container{
        padding-inline: 2.5rem;
    }
    .contact-us{
        flex-direction: column;
    }
    .contact-left{
        align-items: center;
        width: 100%;
    }
    .contact-left .text{
        text-align: center;
    }
    .contact-left .text p{
        margin: 0 auto;
    }
    footer{
        padding: 6rem 2.5rem;
    }
    footer .first{
        width: 60%;
    }
}

@media (max-width: 1080px){
    .ham{
        display: block;
    }
    .desktop-nav ul{
        display: none;
    }
    .home-right{
        max-width: 28rem;
    }
    .home h1{
        font-size: 3.2rem;
        line-height: 3.5rem;
    }
    .home p{
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 768px){
    header{
        padding: 0.8rem 0.5rem
    }
    .desktop-nav .logo{
        width: 10rem;
    }
    .container{
        padding-inline: 1rem;
    }
    .home{
        flex-direction: column-reverse;
        text-align: center;
    }
    .home-right{
        max-width: 24rem;
    }
    .home .brands{
        justify-content: center;
    }
    .home .btns{
        justify-content: center;
    }
    .course-list{
        flex-direction: column;
    }
    .course:nth-child(2){
        border-top: 2px solid var(--color-dark-indigo);
        border-bottom: 2px solid var(--color-dark-indigo);
        border-left: none;
        border-right: none;
    }
    .course{
        padding: 2rem 1rem;
    }
    .about-us .heading{
        flex-direction: column;
    }
    .about-us .heading h2{
        font-size: 2.5rem;
    }
    .about-us .heading p{
        font-size: 1rem;
        width: 80%;
        text-align: center;
    }
    .about-us .list{
        flex-direction: column;
        gap: 3rem;
    }
    .item i{
        font-size: 2.8rem;
    }
    .ratings h2{
        font-size: 2.5rem;
    }
    .contact-left .text h3{
        font-size: 2.5rem;
    }
    .contact-left .text{
        width: 100%;
    }
    .contact-left{
        align-items: center;
    }
    footer{
        flex-direction: column;
    }
    footer .first{
        width: 100%;
    }
    footer .first .child{
        text-align: center;
    }
    footer .second .links{
        display: none;
    }
    /* footer .first .child{
        display: flex;
        justify-content: space-between;
    }
    footer .first .child p{
        width: 40%;
    } */
    footer .socials{
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 470px){
    .desktop-nav .login{
        display: none;
    }
    .home{
        padding-block: 4rem;
    }
    .home h1{
        padding-top: 1rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin-bottom: 1.8rem;
    }
    .home p{
        font-size: 1rem;
        overflow-x: auto;
        font-weight: 400;
    }
    .btn-started{
        font-size: 1rem;
    }
    .home .btns{
        gap: 2rem;
    }
    .link{
        font-size: 1rem;
    }
    .brand{
        width: 8rem;
    }
    .courses h2{
        font-size: 2rem;
    }
    .about-us .heading h2{
        font-size: 2rem;
    }
    .ratings h2{
        font-size: 1.5rem;
    }
    .slide p{
        font-size: 1rem;
    }
    .contact-left img{
        max-width: 20rem;
    }
    .contact-us .contact-right{
        padding: 2.2rem 2rem;
        width: 100%;
    }
    .contact-right h3{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .contact-right .inp input{
        width: 100%;
        height: 2.5rem;
    }
    .contact-right .submit{
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }
    .contact-right .inp label{
        font-size: 0.8rem;
    }
}