@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

:root{
    --color-light-blue: #f7f9fe;
    --color-white: #ffffff;
    --color-dark-indigo: #434959;
    --color-orange: #f5800d;
    --color-heading-black: #444a5a;
    --color-font-black: #616161;
    --color-font-grey: #aaabaf;
    --color-navbar: #f1f2f4;

    --color-orange-hover: #d26d07;
    --color-dark-indigo-hover: #2e364e;

    --font-size-h1: 1.5rem;
    --font-size-p: 1rem;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

body.mobile-nav-open {
    overflow: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    background-color: var(--color-white);
    padding: 1rem 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.desktop-nav .logo{
    width: 15rem;
}

.desktop-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.desktop-nav .links{
    color: var(--color-dark-indigo);
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.desktop-nav .links:hover{
    color: var(--color-dark-indigo-hover);
}

.desktop-nav .call-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.desktop-nav .login{
    background-color: var(--color-orange);
    font-weight: 500;
    padding: 0.8rem 1.8rem;
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 0.3rem;
}

.desktop-nav .login:hover{
    background-color: var(--color-orange-hover);
}

.desktop-nav .call-login p{
    color: var(--color-font-black);
}

.ham{
    display: none;
    font-size: 1.8rem;
}

.ham-open{
    display: block;
}

header .mobile-nav-open{
    display: block !important;
}

.mobile-nav{
    display: none !important;
    position: fixed;
    inset: 0;
    background-color: var(--color-navbar);
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    overflow-y: auto;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
}

.mobile-nav .logo{
    width: 12rem;
}

.mobile-nav ul{
    padding-top: 3rem;
} 

/* .mobile-nav ul li{
    
} */

.mobile-nav .links{
    text-align: center;
    margin-inline: auto;
    padding-inline-start: 1rem;
    color: var(--color-white);
    margin-block: 1rem;
    display: block;
    padding-block: 1rem;
    width: 80%;
    font-weight: 500;
    background-color: var(--color-orange);
    border-radius: 1rem;
}

.mobile-nav .call-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.mobile-nav .login{
    padding: 0.5rem 5rem;
    border:2px solid var(--color-orange);
    border-radius: .4rem;
    color: var(--color-orange);  
    font-size: 1.2rem;
}

.no-scroll {
    overflow: hidden; /* Disable scrolling */
}
