@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root{
    --color-light-blue: #f7f9fe;
    --color-white: #ffffff;
    --color-dark-indigo: #434959;
    --color-orange: #f5800d;
    --color-heading-black: #444a5a;
    --color-font-black: #616161;
    --color-font-grey: #6a6969;
    --color-navbar: #f1f2f4;
    --color-black: #000;

    --color-orange-hover: #d26d07;
    --color-dark-indigo-hover: #2e364e;

    --font-size-h1: 1.5rem;
    --font-size-p: 1rem;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-orange);
    border-radius: 2rem;
}

::-webkit-scrollbar-track-piece {
    background: var(--color-light-blue);
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,
p,span,a,i{
    transition: all 0.5s ease-in-out;
}

li{
    list-style: none;
}

body.mobile-nav-open {
    overflow: hidden;
}

header{
    background-color: var(--color-white);
    padding: 1rem 4.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.desktop-nav .logo{
    width: 15rem;
}

.desktop-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.desktop-nav .links{
    color: var(--color-dark-indigo);
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.desktop-nav .links:hover{
    color: var(--color-dark-indigo-hover);
}

.desktop-nav .call-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.desktop-nav .login{
    background-color: var(--color-orange);
    font-weight: 500;
    padding: 0.8rem 1.8rem;
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 0.3rem;
}

.desktop-nav .login:hover{
    background-color: var(--color-orange-hover);
}

.desktop-nav .call-login p{
    color: var(--color-font-black);
}

.ham{
    display: none;
    font-size: 1.8rem;
}

.ham-open{
    display: block;
}

header .mobile-nav-open{
    display: block !important;
}

.mobile-nav{
    display: none !important;
    position: fixed;
    inset: 0;
    background-color: var(--color-navbar);
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    overflow-y: auto;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
}

.mobile-nav .logo{
    width: 12rem;
}

.mobile-nav ul{
    padding-top: 3rem;
} 

/* .mobile-nav ul li{
    
} */

.mobile-nav .links{
    text-align: center;
    margin-inline: auto;
    padding-inline-start: 1rem;
    color: var(--color-white);
    margin-block: 1rem;
    display: block;
    padding-block: 1rem;
    width: 80%;
    font-weight: 500;
    background-color: var(--color-orange);
    border-radius: 1rem;
}

.mobile-nav .call-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.mobile-nav .login{
    padding: 0.5rem 5rem;
    border:2px solid var(--color-orange);
    border-radius: .4rem;
    color: var(--color-orange);  
    font-size: 1.2rem;
}

.no-scroll {
    overflow: hidden; /* Disable scrolling */
}

.container{
    padding-inline: 6rem;
}

.home{
    padding-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    max-width: 10rem;
}

.home-right{
    max-width: 35rem;
    min-width: 20rem;
}
.home-right img{
    width: 100%;
}

.home .brands{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.home .text{
    padding-bottom: 2rem;
}

.home h1{
    padding-right: 2rem;
    font-size: 4rem;
    color: var(--color-heading-black);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 4.2rem;
}

.home p{
    font-size: 1rem;
    color: #5a6a4d;
    font-weight: 500;
    line-height: 1.8rem;
    width: 80%;
}

.home .btns{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.btn-started{
    background-color: var(--color-dark-indigo);
    font-weight: 500;
    padding: 0.8rem 1.8rem;
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 0.3rem;
}

.play-btn{
    font-size: 2rem;
    color: var(--color-white);
    padding: 0.6rem;
    border-radius: 50%;
    background-color: var(--color-dark-indigo);
}

.link{
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: underline var(--color-dark-indigo);
    color: var(--color-dark-indigo);
}

.courses{
    margin-top: 4rem;
}

.courses h2{
    font-size: 3.8rem;
    font-weight: 400;
    color: var(--color-dark-indigo);
    text-align: center;
    margin-bottom: 2.5rem;
}

.course-list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-dark-indigo);
}

.course{
    padding: 2rem 2.5rem;
    cursor:default;
}

.course:hover{
    background-color: var(--color-navbar);
}

.course:nth-child(2){
    border-left: 2px solid var(--color-dark-indigo);
    border-right: 2px solid var(--color-dark-indigo);
}

.course h5{
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-heading-black);
    line-height: 4rem;
}

.course h4{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-black);
    font-weight: 500;
    line-height: 1.5rem;
    margin-block:0.6rem 1rem;
}

.course p{
    font-size: 0.9rem;
    color: var(--color-font-grey);
    font-weight: 400;
}

.about-us{
    background-color: var(--color-navbar);
    margin-top: 6rem;
}

.about-us .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 5rem 4rem;
}

h2{
    font-size: 3.8rem;
    font-weight: 400;
    color: var(--color-heading-black);
}

.about-us .heading p{
    font-size: 1rem;
    color: var(--color-font-grey);
    font-weight: 400;
    width: 40%;
}

.about-us .list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.list .item{
    padding: 0.8rem 1.4rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    cursor: default;
}

.item i{
    padding: 1rem;
    background-color: #fff;
    font-size: 4rem;
    border-radius: 2rem;
}

.item h4{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-heading-black);
    font-weight: 500;
}

.item p{
    font-size: 1rem;
    color: var(--color-font-grey);
    font-weight: 400;
}

.item:hover{
    background-color: var(--color-white);
    transition: 0.3s ease-in-out;
}

.item:hover i{
    background-color: var(--color-light-blue);
}

.ratings{
    margin-top: 8rem;
}

.mySwiper {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    z-index: 0 !important;
  }

  .swiper-wrapper{
    padding-bottom: 3rem;
  }

  .swiper-pagination{
    position: relative !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.slide{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.slide p{
    font-size: 1.2rem;
    color: var(--color-font-grey);
    font-weight: 400;
    width: 80%;
    text-align: start;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.stars i{
    font-size: 1.5rem;
    color: var(--color-orange);
}

.ratings .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile img{
    width: 5rem;
    border-radius: 50%;
}

.profile .detail{
    text-align: start;
}

.profile .detail h5{
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-font-grey);
}

.swiper-btns{
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.swiper-btns i{
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--color-dark-indigo);
    color: var(--color-white);
    cursor: pointer;
}

.contact-us{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 4rem;
}

.contact-us .contact-right{
    background-color: var(--color-navbar);
}

.contact-left{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.contact-left img{
    max-width: 30rem;
    margin-top: 2rem;
}

.contact-left .text{
    width: 80%;
}

.contact-left .text h3{
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--color-heading-black);
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

.contact-left .text p{
    font-size: 1rem;
    color: var(--color-font-grey);
    font-weight: 400;
    width: 80%;
}

.contact-right{
    padding: 2.8rem 4.6rem;
    border-radius: 1rem;
}

.contact-right h3{
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--color-heading-black);
    line-height: 3.5rem;
    margin-bottom: 3.5rem;
}

.contact-right .inp{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.contact-right .inp label{
    font-size: 1rem;
    color: var(--color-font-grey);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.contact-right .inp input{
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-font-grey);
    outline: none;
}

.contact-right .submit{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-block: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
}

footer{
    background-color: var(--color-dark-indigo);
    padding: 5rem 4rem;
    display: flex;
    align-items: start;
    gap: 6rem;
}

footer .first{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
}

footer .child h3{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-white);
}

footer .child p{
    font-size: 1rem;
    color: var(--color-navbar);
    font-weight: 300;
}

footer .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

footer .socials i{
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid var(--color-navbar);
    color: var(--color-navbar);
}

footer .second{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

footer ul li{
    font-size: 1rem;
    color: var(--color-navbar);
    font-weight: 300;
    margin-bottom: 0.5rem;
}

footer h5{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: 1rem;
}

footer .contact{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

footer .list-item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

footer .list-item i{
    color: var(--color-navbar);
    font-size: 1.5rem;
}

footer .list-text h6{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

footer .list-text p{
    font-size: 1rem;
    color: var(--color-light-blue);
    font-weight: 300;
}